body {
  font-family: 'Montserrat', sans-serif;
  background: #f9f9f9;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, a, li, span {
    font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0077cc;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
}
