body {
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #003366;
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p, a, li, span {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3 {
    color: #FF9F00;
}
h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F28D35;
  font-size: 1.2rem;
}

a:hover {
  color: #FF9F00;
  text-decoration: underline;
}
button {
    background-color: #FF9F00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #F28D35;
}
p {
    margin-bottom: 1rem;
}
